.dialog-title {
    font-size: 22px;
    margin-bottom: 1em;
    font-weight: bold;
    min-width: 250px;
}

button {
    outline: none !important;
    color: #2893e6 !important;
}
.dialog-actions {
    margin-top: 30px;
    text-align: right;
}


.c-r {
    padding-top: 15px;
}
